body {
    background-color: black;
    justify-content: center;
}

header {
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Goldman';
    font-size: 50px;
}

#card {
    display: flex;
    justify-content: center;
}


.card-connect {
    background-color: white;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    text-align: center;
    padding: 30px;
}

h2 {
    font-family: 'Goldman';
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#input-connect input {
    width: 300px;
    height: 50px;
    font-size: large;
    border: none;
    border-bottom: 3px solid black;
    text-align: center;
    background-color: white;
}

#input-connect {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input:focus {
    outline: none;
}


#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    width: 150px;
    height: 50px;
    color: black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: large;
    text-decoration: none;
    font-family: 'Goldman';
}

