@media only screen and (max-width:768px){
    #title{
        width: auto;
        position: absolute;
        top: 25%;
        left: 20%;
        font-size: 1.5em;
    }
    .fa-bars{
        display: block;
    }
    #menu-links{
        background-color: black;
        width: 100%;
        position: absolute;
        text-align: center;
        flex-wrap: wrap;
        top: -200px;
        transition: all 0.5s ease-in-out;
    }
    .visible{
        animation: upDown 0.5s ease forwards;
        transition: all 0.5s ease-in-out;
    }
    @keyframes upDown {
        100%{
            top: 80px;
        }
    }
    @keyframes downUp {
        100%{
            top: -200px;
        }
    }
    #profil-links{
        width: 25%;
        position: absolute;
        justify-content: space-evenly;
        right: 0;
        top: 20px;
    }
    #profil-links i{
        font-size: 24px;
        margin: 3px;
    }

    #coll-logo{
        position: absolute;
        flex-wrap: wrap;
        width: 100%;
        top: 272px;
    }
}